.App {
  text-align: center;
}


ul, li{
  list-style: none;
  margin:0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

ul.menu_categories, ul.menu_versions {
  height: 100%;
}

li.category_item {
  border: 1px solid #efefef;
}

li.category_item > img{
  width: 100px;
}

li.category_item > p.category_text {
  display: none;
}

ul.menu_versions {
  display:none;
  position:fixed;
  top:0;
  left: 150px;
  height: 100%;
  background-color: #fafafa;
}

ul.menu_categories> li:hover ul.menu_versions{
  display:block;
}

ul.menu_versions > li.version_item{
  margin: 3px;
}

ul.menu_versions > li.version_item:hover{
  border: 2px solid blue;
  border-radius: 10px;
  margin:0;
}

li.version_item  img {
  width: 100px;
}


.container {
  /* Container takes full size */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
}

.container__overlay {
  /* Take full size */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  /* User still can see the content of main page */
  background-color: rgba(0, 0, 0, 0.5);
  display:none;
  z-index: -1;
}

.container__sidebar {
  /* Take full height */
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px; 

  /* Background */
  background-color: #fff;
}

.container__sidebar:hover .container__overlay{
  display: block;
}

.container__overlay:hover{
  display: none;
}

.container__main {
  max-width: 80vw;
  max-height: 100vh;
  padding-left: 180px
}

.container__main #avatar-render-zone{
  max-height: 300px;
}

.hidden{
  display: none;
}

.header {
  /* Stick to the top */
  position: sticky;
  top: 0;
  display: block;
  height: 50px; 
  padding-top: 10px;
}

